/* Navbar - default */
#announcement-bar__header{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: rgb(76, 76, 76);
}

#announcement-bar__container {
    background-color: var(--base);
    display: grid;
    place-items: center;
    height: 27.3%;
}

#announcement-bar__text {
    color: var(--light);
    width: 80%;
    text-align: center;
    font-size: medium;
}

#site-header__header {
    position: fixed;
    top: 0;
    transition: top 0.3s ease-out;
    z-index: 20;
    background-color: #fff;
    width: 100%;
}

.site-header__navbar {
    display: flex;
    align-items: center;
    width: min(100%, 1650px);
    margin: 0 auto;
    padding-left: 20px;
}

.site-header__navbar * {
    margin: 0;
    padding: 0;
}

.site-header__image {
    max-width: 140px
}

#site-header__hamburger-button {
    margin-right: 20px;
    cursor: pointer;
    user-select: none;
    transition: opacity .15s linear;
    background: none;
}

#site-header__x-button {
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
    transition: opacity .15s linear;
    background: none;
}

#site-header__hamburger-button:hover {
    opacity: 0.8;
}

#site-header__x-button:hover {
    opacity: 0.8;
}

#site-header__hamburger-button svg {
    fill: rgba(74, 82, 120, 1);
}

@keyframes nav-li-hover {
    0% {width: 0; opacity: 0}
    100% {width: 100%; opacity: 1}
}

/* Navbar - Mobile devices */
@media only screen and (max-width: 480px) {
    .site-header__navbar {
        height: 73px;
    }

    #site-header__icons--dummy {
        display: none;
    }
}

/* Navbar - Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .site-header__navbar {
        height: 83px;
    }

    #site-header__icons--dummy {
        display: none;
    }
}

/* Navbar - Laptops */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .site-header__navbar {
        height: 87px;
    }

    #site-header__icons--dummy {
        width: 150px;
        height: 100%;
    }
}

/* Navbar - Desktops & large screens */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .site-header__navbar {
        height: 88px;
    }

    #site-header__icons--dummy {
        width: 150px;
        height: 100%;
    }
}

/* Navbar - Extra large screens & TVs */
@media only screen and (min-width: 1200px) {
    .site-header__navbar {
        height: 88px;
    }

    #site-header__icons--dummy {
        width: 150px;
        height: 100%;
    }
}

/* Navbar - navigation menu */
@media only screen and (max-width: 991px) {
    .site-header__navbar {
        justify-content: space-between;
        height: 100px;
    }

    #site-header__hamburger-button {
        display: block;
    }

    #site-header__navbar-menu {
        display: flex;
        flex-direction: column;
        transition: .15s ease;
        background-color: #fff;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        max-height: calc(100vh - 79px);
        overflow-y: scroll;
        padding: 10px 20px;
    }

    .site-header__navbar-li {
        width: 100%;
        border-top: 2px solid var(--gray300);
    }

    .site-header__navbar-li a {
        color: #517b9a;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        user-select: none;
        cursor: pointer;
        padding: 10px 10px;
        display: block;
        margin-right: 1%;
    }

    #site-header__navbar-services {
        position: relative;
    }

    #site-header__open-submenu {
        position: absolute;
        right: 0.1rem;
        width: 3rem;
    }

    #site-header__navbar-updown-icon {
        width: 100%;
        height: 1.5rem;
        fill: var(--dark400);
        transition: all 0.3s ease-in-out;
    }

    #site-header__navbar-children-ul {
        background-color: #fff;
    }

    .site-header__navbar-children-li {
        padding-left: 1.5rem;
        width: 100%;
    }
}

@media only screen and (min-width: 991px) {
    .site-header__navbar {
        justify-content: space-between;
    }

    #site-header__navbar-menu {
        width: max-content;
        height: 100%;
    }

    #site-header__hamburger-button {
        display: none !important;
    }

    #site-header__navbar-ul {
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        color: #517b9a;
    }

    .site-header__navbar-li {
        height: 100%;
        margin-left: 1rem;
        position: relative;
    }

    .site-header__navbar-li a {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .site-header__navbar-li a,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }

    .site-header__navbar-li > a > span {
        font-size: 1em;
        font-weight: 400;
        color: rgb(29, 74, 127);
    }

    .site-header__navbar-li:hover > a > span {
        color: #517b9a;
        text-decoration: underline;
    }

    #site-header__navbar-children-ul {
        position: relative;
        display: none;
        opacity: 0;
        transition: .15s ease;
        background: #fff;
    }

    #site-header__navbar-updown-icon {
        display: none;
    }

    #site-header__navbar-services:hover  #site-header__navbar-children-ul {
        display: block;
        opacity: 1;
        position: absolute;
        width: 350%;
        top: 100%;
        left: 0;
        padding: 0 1rem 1rem 1rem;
        border: 1px solid var(--gray300);
    }

    .site-header__navbar-children-li {
        margin-top: 1rem;
    }

    .site-header__navbar-children-li > a > span {
        font-size: 1rem;
        color: #517b9a;
    }

    .site-header__navbar-children-li:hover {
        margin-top: 1rem;
    }

    .site-header__navbar-children-li:hover > a > span {
        color: #517b9a;
        text-decoration: underline;
    }
}

/* Main tag () */
#main {
    z-index: 0;
}

/* Hero image - default */
#hero-image__container {
    position: relative;
    width: 100%;
    max-height: 525px;
    z-index: 0;
    background-image: url("assets/vintage1200.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-image__container:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
    z-index: 0;
}

#hero-image__heading,
#hero-image__text {
    z-index: 1;
    width: min(calc(100% - 2.5rem), 660px);
    color: var(--light);
    text-align: center;
    margin-bottom: -150px;
}

#hero-image__heading {
    font-size: clamp(24px, calc(24px + 2.5vw), 3.5rem);
}

#hero-image__text {
    font-size: 1.2rem;
    line-height: 1.7;
}

@keyframes scrollToAnimation {
    0% {top: 7px}
    50% {top: 20px}
    100% {top: 7px}
}

/* Hero image - Mobile devices */
@media only screen and (max-width: 480px) {
    #hero-image__container {
        height: 70vh;
    }
}

/* Hero image - Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #hero-image__container {
        height: 95vh;
    }
}

/* Hero image - Laptops */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #hero-image__container {
        height: 100vh;
    }
}

/* Hero image - Desktops & large screens */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    #hero-image__container {
        height: 95vh;
    }
}

/* Hero image - Extra large screens & TVs */
@media only screen and (min-width: 1200px) {
    #hero-image__container {
        height: 95vh;
    }
}

/* Accordion article */
#accordion-article__container {
    display: grid;
    grid-gap: 3em;
}

.accordion-article__section-header {
    border-left: 3px solid var(--base);
    padding-left: 0.5em;
}

/* Accordion article - Mobile devices */
@media only screen and (max-width: 1000px) {
    #accordion-article__container {
        grid-template-columns: 1fr;
    }
}

/* Accordion article - large screens */
@media only screen and (min-width: 1000px) {
    #accordion-article__container {
        grid-template-columns: 1fr 1fr;
    }
}

/* Accordion */
.accordion__item-title {
    background: none;
    cursor: pointer;
    padding: 18px 28px 18px 18px;
    width: 100%;
    border-bottom: solid 1px var(--lightgray);
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: 600;
    font-family: "Cabin", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.accordion__item-title:hover {
    background-color: var(--light);
}

.accordion__item-title:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-right: -14px;
}

.active:after {
    content: "\2212";
}

.accordion__item-container {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.accordion__item-container > p {
    padding: 18px 0;
}

/* CTA */
#cta-article__container {
    background-image: url("assets/vintage1200.webp");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3em;
}

#cta-article__container-grid {
    padding: 3em;
    display: grid;
    grid-gap: 1.5em;
    background-color: white;
}

#cta-article__container-grid p {
    font-size: 30px;
    font-weight: 600;
}

@keyframes ani-btn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#cta-article__container-grid a {
    font-size: 16px;
    font-weight: 600;
    padding: 1em 4em;
    width: max-content;
    max-width: 100%;
    height: max-content;
    margin: 0 auto;
    border-radius: 30px;
    cursor: pointer;
    background-color: var(--base);
    color: white;
    animation-name: ani-btn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-decoration: none;
}

#cta-article__container-grid a:hover {
    background-color: #2f5d91;
}

/* CTA - Mobile devices */
@media only screen and (max-width: 1000px) {
    #cta-article__container-grid {
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
    }
}

/* CTA - Large screens */
@media only screen and (min-width: 1000px) {
    #cta-article__container-grid {
        grid-template-columns: 2fr 1fr;
        margin: 0 auto;
        width: 80%;
        place-items: center;
    }
}


/* Footer - default */
#site-footer__footer {
    position: relative;
    background-color: rgb(29, 74, 127);
    width: 100%;
}
#site-footer__wrapper {
    width: min(100%, 1240px);
    margin: 0 auto;
    padding: 6rem 20px 0 20px;
    display: flex;
}

#site-footer__wrapper p {
    color: #fff;
}

#site-footer__logo {
    max-width: 150px;
    max-height: 45px;
}

#site-footer__social-links {
    display: flex;
}

#site-footer__social-links a {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 100%;
    background-color: #517b9a;
    margin: 0 5px;
    display: grid;
    place-content: center;
    user-select: none;
    cursor: pointer;
}

#site-footer__social-links svg {
    fill: #fff;
    height: 15px;
    width: auto;
}

#site-footer__left-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

#site-footer__right-section {
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 3rem 0;
    padding: 0;
}

@keyframes grow {
    0% { height: 0 }
    100% { height: 100% }
}

#site-footer__right-section a {
    position: relative;
    transition: all .3s ease;
    user-select: none;
}

#site-footer__right-section a,
#site-footer__right-section a:visited,
#site-footer__right-section a:hover,
#site-footer__right-section a:active {
    color: rgb(29, 74, 127);
    text-decoration: none;
}

#site-footer__right-section a:hover {
    color: #2fb695;
}

#site-footer__right-section a:hover:before {
    content: "";
    height: 100%;
    position: absolute;
    left: -0.5rem;
    bottom: 0;
    width: 2px;
    background-color: #2fb695;
    animation: grow .3s ease;
}

#site-footer__copyright {
    width: 100%;
    padding: 30px 0;
    display: grid;
    place-content: center;
    border-top: 1px solid rgba(255,255,255,0.19);
}

#site-footer__copyright a {
    color: #2fb695;
    text-decoration: none;
    user-select: none;
}

/* footer - Mobile devices */
@media only screen and (max-width: 768px) {
    #site-footer__footer {
        flex-direction: column;
    }

    #site-footer__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .site-footer__footer-section {
        width: 100%;
    }

    #site-footer__left-section {
        align-items: center;
    }

    #site-footer__right-section {
        text-align: center;
    }
}

/* footer - Tablets, laptops and other large screen devices */
@media only screen and (min-width: 768px) {
    #site-footer__footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #site-footer__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .site-footer__footer-section {
        width: 45%;
    }

    #site-footer__left-section {
        align-items: flex-start;
    }
}

